body {
  padding: 20px;
  background-color: #1c2128;
  font-family: monospace;
  color: #fff;
  text-align: center;
}

img {
  margin: 0 10px
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
}